click>=8.1.7
rich>=13.7.1
jsonschema>=4.22.0
pytest>=8.2.0
requests>=2.32.3
python-magic-bin>=0.4.14; sys_platform == 'win32'
python-magic>=0.4.27; sys_platform != 'win32'
volatility3>=2.6.0
rekall-core>=1.7.2
memprocfs>=5.6.0
